extends layout

block content
  table(id="displayTable",class="table table-striped table-bordered")
    thead
      tr
        th MetricName
        th MetricPath
        th MaxValue

    tbody
      each metric in appdmetrix
        tr
          td 
            = metric.MetricName
          td 
            =  metric.MetricPath
          td 
            = metric.MaxValue
          
